body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: block;
  background-image: url("images/fodlan.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Clickable buttons */
.clickable {
  filter: drop-shadow(3px 3px 3px);
}
/* changes to the style when the user HOVERS */
.clickable:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(5px 5px 5px);
  transform: scale(1.02);
}
/* changes to the style when the user CLICKS */
.clickable:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}

.adrestia {
  background-image: url("images/adrestiaCropped.jpg");
}

.kingdom {
  background-image: url("images/faerghusCropped.png");
}

.alliance {
  background-image: url("images/leicesterCropped.jpg");
}

.top {
  height: 80%;
  width: 100%;
  display: flex;
}

/* Hidden by default */
.bottom {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  /*background-color: red;*/
}

#text {
  background-color: rgba(253, 252, 225, 0.7);
  color: rgb(69, 72, 73);
}

.menu {
  height: 100%;
  width: 10%;
  display: block;
}

/* Menu images */
.flag {
  height: 8vw;
}
#crest {
  height: 5.5vw;
}
#arrow {
  height: 4vw;
}

/* Hidden by default */
.imgDiv {
  height: 100%;
  width: 90%;
  display: flex;
  visibility: hidden;
}

/* Character images */
.characterImg {
  height: 30vw;
}

/* Column for character images */
.imgCol {
  height: 100%;
  width: 45%;
  display: flex;
}

p {
  color: white;
  font-family: "Merriweather";
  font-size: 1.5vw;
  margin: 5px;
}

.center-content {
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  .top {
    height: 70%;
    display: block;
  }
  .bottom {
    height: 30%;
  }
  .menu {
    height: 20%;
    width: 100%;
    display: flex;
  }
  .imgDiv {
    height: 80%;
    width: 100%;
  }
  .imgCol {
    height: 100%;
    width: 50%;
  }
  .characterImg {
    height: 35vw;
  }
  .flag {
    height: 12vw;
  }
  #crest {
    height: 12vw;
  }
  #arrow {
    height: 7vw;
  }
  p {
    font-size: 2.5vw;
  }
}

/* Change the background */
@media only screen and (max-width: 600px) {
  body {
    background-image: url("images/fodlanCropped.jpg");
  }
  .characterImg {
    height: 45vw;
  }
  .flag {
    height: 15vw;
  }
  #crest {
    height: 15vw;
  }
  #arrow {
    height: 10vw;
  }
  p {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 400px) {
  .top {
    height: 80%;
    display: block;
  }
  .menu {
    height: 10%;
  }
  .imgDiv {
    height: 90%;
    display: block;
  }
  .bottom {
    height: 20%;
  }
  .imgCol {
    height: 50%;
    width: 100%;
  }
  .characterImg {
    height: 50vw;
  }
  .flag {
    height: 10vw;
  }
  #crest {
    height: 10vw;
  }
  #arrow {
    height: 10vw;
    p {
      font-size: 3.5vw;
    }
  }
}

